/* all */
* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h2 {
    text-align: center;
    justify-content: center;
    margin-bottom: 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Aside Social Media */
.imgSocialMedia {
    width: 40px;
    height: 40px;
}


.imgSocialMedia:hover {

    height: 80px;
    width: 80px;

    #aSideSocialMedia{
        width: 85px;
    }

}

#aSideSocialMedia {
    display: flex;
    flex-flow: column;
    gap: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    width: auto;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    position: fixed;
    background-color:white;
    margin-left: 2px;
}

/* header */
.logoHeader {
    text-align: center;
    width: 60px;
    height: 100%;
    margin-left: 80px;
}

header {
    background-color: #0a100d;
    height: 110px;
    align-content: center;
    margin-bottom: 55px;
}

nav {
    margin-left: auto;
    width: 75%;
    align-content: space-evenly;
    margin-right: auto;
}

.navHdr {
    display: flex;
    align-items: center;
    width: 95%;
}

.logoHeader {
    height: fit-content;
    width: 50px;
}

.aHdr {
    margin-left: 20px;
    text-decoration: none;
    color: #d6d5c9;
    width: 120px;
}

.aHdr:hover {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    width: 120px;
}

nav,
li {
    display: flex;
    justify-content: center;
    text-align: center;

}

ul {
    display: inline-flex;
    width: 300px;
}

ul.lsit {
    list-style: none;
}

/* Change Language */
.imgChangeLang {
    height: 20px;
    width: 30px;

}

.dropbtn {

    margin-right: 25px;
    margin-bottom: 0%;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 0;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown-content a:hover {
    background-color: #ddd;
}


.liLang {
    width: 30px;
    margin-bottom: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 5px;
    margin: 1px;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

/* Me */
h1 {
    text-align: center;
    justify-content: center;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    font-weight: bold;
    text-transform: uppercase;
    width: 70%;
    
}

#h2Intro {
    margin-left: 80px;
    margin-bottom: 50px;
}

span {
    color: #a22c29;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: lowercase;
}

#btnIntro {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 40px;
}

#btnIntroP {
    background: #a22c29;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 25px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    height: 50px;
    width: 250px;
    text-align: center;
    align-content: center;
}

#btnIntroP:hover {
    background: #d6d5c9;
    border-style: solid;
    border-color: #a22c29;
    color: #a22c29;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 25px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    width: 250px;
}

#btnIntroCntct {
    background: #d6d5c9;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 25px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    height: 50px;
    width: 250px;
    text-align: center;
    align-content: center;
}

#btnIntroCntct:hover {
    background: #0a100d;
    color: white;
    border-style: solid;
    border-color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 25px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    width: 250px;
}

/* About Me */
#secAboutMe {
    background-color: #902923;
    color: white;
    padding: 20px;
    padding-top: 1px;

}

#pAboutMe {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: larger;
    width: 40%;
}

/* My Skills */

.h2MySkills {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0%;
}

.imgMySkills {
    height: 40px;
    width: 40px;
    fill: white;
}

.liSkills:hover {
    img {
        height: 80px;
        width: 80px;
    }
}

.h4Skills {
    opacity: 0%;
}

.liSkills {
    display: block;
    text-align: center;
}

.liSkills:hover .h4Skills {
    opacity: 100%;

}

#divMySkills {
    display: flex;
    justify-content: center;
    text-align: center;
}

.ulSkills {
    text-align: center;
    justify-content: center;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 5%;
    margin-top: 40px;
    margin-bottom: 40px;
}


/* My Parcours */
#secMParc {
    background-image: url(img/fond.png);
    padding-bottom: 20px;
    padding-top: 20px;
}

#divMParc {
    display: block;
    text-align: center;
}

.divH3PP {
    display: block;
    text-align: center;
}

.divMParcPro {
    display: grid;
    text-align: left;
}

h3 {
    text-align: center;
    margin-top: 10px;
}

#h2PP {
    color: black;
    margin-top: 0%;

}

.pInfo {
    margin-left: 30px;
}

#cardPPro {
    width: 75%;
    background-color: white;
    box-shadow: 0px 15px 15px 0.25px black;
    padding: 5% 5%;
    border-radius: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.divInfoPP {
    display: inline-flex;
    margin-top: 5px;

}

.h3PP {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: larger;
    color: #0a100d;
}

.imgInfoPP {
    height: 40px;
    width: 40px;
    border-radius: 20%;
    align-self: center;
}


.divInfoFix {
    display: inline-flex;
    margin-bottom: 15px;
    margin-top: 5px;
}

/* My Projects */
.cardPrjt {
    width: 358px;
    border-top: 15px;
    height: auto;
    aspect-ratio: auto;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.divProjet {
    padding: 40px;
}

#allCards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    align-items: center;
}

.nomSite {
    text-align: left;
    font-weight: bold;
    font-size: large;
    color: #a22c29;
    margin-bottom: 20px;
}

.pProjet {
    text-align: start;
    margin: 0%;
    margin-bottom: 20px;
}

.btnProjet {
    background: #a22c29;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 25px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    height: 50px;
    width: 250px;
    text-align: center;
    align-content: center;
}

.btnProjet:hover {
    background: white;
    border-style: solid;
    border-color: #a22c29;
    color: #a22c29;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 25px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    width: 250px;
}

.imgProjet {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px 20px 0px 0px;
}

/* Leave a Comment */
#secCntctMe {
    place-items: center;
    background-image: url(img/fond.png);
    color: rgba(0, 0, 0, 1);
    padding: 20px;
    padding-top: 20px
}

#h2Cntc {
    margin-top: 0;
}

.btnSub {
    color: white;
    background-color: #a22c29;
    height: 35px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
    font-size: smaller;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.btnSub:hover{
    color: #a22c29;
    background-color: white;
    height: 35px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
    font-size: smaller;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border: solid;
    border-color: #a22c29;
    border-width: 2px;
}

.formContact {
    width: auto;
    border-top: 15px;
    height: auto;
    aspect-ratio: auto;
    padding: 40px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    display: block;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;
}

.dCttAll {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.lblComment {
    text-align: left;
}

.divComment {
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    margin: 5px 0;
    display: block;
    width: 250px;
}

.inputMsg {
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    margin: 5px 0;
    display: block;
    width: 100%;
    height: 140px;
    
}

/* Go up */
#arrow {
    float: right;
    padding: 2px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    border: none;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    opacity: 50%;
    margin-bottom: 65px;
}

#arrow:hover {
    opacity: 100%;
}

/* footer */
footer {
    background-color: #0a100d;
    height: 70px;
    align-content: center;
}

.pFooter{
    display: flex;
    text-align: end;
    justify-content: right;
    color: #d6d5c9;
    width: 100px;
    margin-right: 20px;
    opacity: 70%;
}

.navFooter{
    margin-left: auto;
    width: 75%;
    align-content: space-evenly;
    margin-right: 105px;
}

/* smartphone */

@media only screen and (max-width: 600px) {
    .dCttAll{
        flex-direction: column;
    }
}